body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;/*Cor atual:DarkBlue*/
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4682b4;
    color: Black;
    padding: 30px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #4682b4;/* Cor atual: Black*/
}

button {
    background-color: #4682b4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #315f72;
}

footer {
    background-color: #4682b4;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}